.container {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: left;

    width: 95%;
    height: 100%;
    padding: 0% 2.5%;

    .messages {
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: left;

        width: 100%;
        height: 90%;
        overflow: scroll;
    }

    .input {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 10%;

        input {
            height: 50%;
            width: 100%;
            border: 1px solid #1f2120;
            outline: none;
            border-radius: 8px;
            text-indent: 0.5%;
        }
    }
}
